
h1{
    color: rgb(51, 13, 146);
    text-align: center;
    background-color: rgb(127, 234, 241);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}