
h1{
    color: rgb(209, 17, 17);
    text-align: center;
    background-color: rgb(133, 231, 146);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}